@media only screen and (max-width: $mobile) {
  .category-card {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-product-top {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: $desktop) {
  .category-card,
  .form-product-bottom,
  .product-card {
    grid-template-columns: repeat((2, 1fr));
  }
  .form-product-top {
    grid-template-columns: repeat(3, 1fr);
  }
}
