@media only screen and (max-width: $mobile) {
  .card {
    grid-template-columns: repeat((1, 1fr));
  }
}
@media only screen and (min-width: $tablet) {
  .card {
    grid-template-columns: repeat((2, 1fr));
  }
}
@media only screen and (min-width: $desktop) {
  .card {
    grid-template-columns: repeat((2, 1fr));
  }
}
