.category-card {
  color: white;
  padding: 24px;
  display: grid;
  align-items: center;
  background-color: black;
  margin: 48px 0;

  img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 100%;
  }
  .card-content {
    display: flex;
    flex-direction: column;

    min-height: 320px;
    height: 100%;
    justify-content: space-between;
    padding: 48px;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    div {
      width: 100%;
      display: flex;
      justify-content: right;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        width: 144px;
        height: 44px;
      }
    }
  }
}
.navbar {
  min-width: 320px;
  width: 100%;
  height: 10vh;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  .nav-brand {
    font-size: 24px;
  }
  .nav-item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
      padding-right: 16px;
    }
  }
}

.product-card {
  color: white;
  padding: 24px;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: black;
  margin: 48px 0;
  img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 0 auto;
  }
  .content {
    display: flex;
    flex-direction: column;

    height: 100%;
    justify-content: space-between;
    padding: 48px;
    div {
      width: 100%;
      display: flex;
      justify-content: right;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        width: 144px;
        height: 44px;
      }
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.product-details {
  background-color: black;
  height: 90vh;
  color: white;
  .content {
    padding: 24px;
  }
  img {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }
}

.homepage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  h1 {
    text-align: center;
  }
  .subtitle {
    padding-left: 37px;
    width: 350px;
    display: flex;
    h2:nth-child(2) {
      color: red;
    }
    h2 {
      margin-right: 8px;
    }
  }
}

.button {
  div {
    width: 100%;
    display: flex;
    justify-content: right;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      width: 144px;
      height: 44px;
    }
  }
}

.contact {
  min-height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
  .card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    height: fit-content;
    padding: 24px;
    label {
      font-size: 16px;
      padding-bottom: 24px;
      i {
        width: 48px;
      }
    }
  }
}
.category-description {
  padding: 24px;
  background-color: black;
  margin: 48px 0;
}

.flames {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  .content {
    width: 100%;
  }
  h1 {
    margin: 0 auto;
    text-align: right;
    width: fit-content;
  }
}
