.category-card {
  color: white;
  padding: 24px;
  display: grid;
  align-items: center;

  img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 100%;
  }
  .card-content {
    display: flex;
    flex-direction: column;

    min-height: 320px;
    height: 100%;
    justify-content: space-between;
    padding: 48px;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    div {
      width: 100%;
      display: flex;
      justify-content: right;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        width: 144px;
        height: 44px;
      }
    }
  }
}
.navbar {
  min-width: 320px;
  width: 100%;
  height: 80px;
  background-color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  .nav-brand {
    font-size: 24px;
  }
  .nav-item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a {
      padding-right: 16px;
    }
  }
}

.product-card {
  color: white;
  padding: 24px;
  display: grid;
  align-items: center;
  justify-content: center;
  img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 0 auto;
  }
  .content {
    display: flex;
    flex-direction: column;

    height: 100%;
    justify-content: space-between;
    padding: 48px;
    div {
      width: 100%;
      display: flex;
      justify-content: right;
      div {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary;
        width: 144px;
        height: 44px;
      }
    }

    p {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

.product-details {
  color: white;
  .content {
    padding: 24px;
  }
  img {
    height: 300px;
    object-fit: cover;
    width: 100%;
  }
}

.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  div {
    width: 100%;
    display: flex;
    justify-content: right;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $primary;
      width: 144px;
      height: 44px;
    }
  }
}

.contact {
  height: 100vh;

  display: flex;

  .card {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    label {
      font-size: 16px;
      padding-bottom: 24px;
      i {
        width: 48px;
      }
    }
  }
}
.category-description {
  padding: 24px;
}
